<mat-toolbar color="primary" class="menu-toolbar">
    <span class="menu-title">Contacs Manager V1.0</span>
    <span class="menu-buttons">
        <button mat-button routerLink="/contacts">Contacts</button>
        <button *ngIf="(isLogged$ | async)" mat-button routerLink="/new-contact">New Contact</button>
    </span>
    <span class="auth-buttons">
        <button *ngIf="!(isLogged$ | async)" mat-button routerLink="/login">Login</button>
        <button *ngIf="!(isLogged$ | async)" mat-button routerLink="/register">Register</button>
        <button *ngIf="(isLogged$ | async)" mat-button (click)="logout()">Logout</button>
    </span>
  </mat-toolbar>